<?xml version="1.0" ?>

<launch>
  <!-- Arg for whether to launch a simulated base or the real one -->
  <arg name="sim_or_real" default="real" />

  <!-- Launch the real base -->
  <group if="$(eval arg('sim_or_real') == 'real')">
    <include file="$(find nexus_base_ros)/launch/real_nexus_base_ros.launch" />
  </group>

  <!-- Launch the simulated base -->
  <group if="$(eval arg('sim_or_real') == 'sim')">
    <include file="$(find nexus_base_ros)/launch/sim_nexus_base_ros.launch" />
  </group>

</launch>